.app-container {
  width: 600px; /* O el ancho que prefieras */
  max-width: 600px; /* O el ancho que prefieras */
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
  border-radius: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como tablets */
  .app-container {
    width: 95%;
    padding: 20px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  /* Estilos para dispositivos móviles */
  .app-container {
    width: 100%;
    max-width: none;
    padding: 10px;
    border-radius: 0;
  }
}
