/* src/styles.css */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #654ea3, #eaafc8);
  background-size: cover;
  background-repeat: no-repeat;
}


.mat-typography{
  color: #a00505;
}
