
/* src/styles.css */

html, body {
  height: 100%; /* Asegura que el body ocupe toda la altura */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #a8c0ff, #3f2b96);
  background-size: cover;
  background-repeat: no-repeat;

  /* Centrar el contenido con Flexbox */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
